body
{
    /* background-color: rgb(155, 200, 207); */
    background-color: rgb(204, 204, 204);
    background-image: url('../resources/tsukumizu.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h1
{
    color:black;
    text-align:center;
}
p
{
    font-size:20px;
}



*
{
    margin:0;   /* 解决header无法置于最上方问题 */
    padding:0;  /* 解决header无法置于最上方问题 */
    box-sizing: border-box;
    border-radius: 4px;
}



/* 为什么用id筛选无效？ */
.header
{
    background-color: rgb(175, 223, 124);
    position: fixed;
    /* position: sticky; */
    /* padding: 0 16px 0 0; */
    /* color: rgb(255, 245, 233); */

    display: flex;

    /* flex-direction: row; */
    /* white-space: nowrap; */

    top: 0;
    width: 100%;

    font-size: 20px;
    /* letter-spacing: normal; */

    /* padding-right: 0px !important; */
    /* margin-right: 0px !important; */

    min-height: 64px;
    z-index: 255;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);

    align-items: center;

    /* padding: 0 16px 0 0; */
}

#menu-button
{
    top: 0;
    min-width: 64px;
    min-height: 64px;
    padding: 0;
    height: 100%;
    display: block;
    float: left;
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;
}

#logo-home
{
    color: #000000;

}

.lsidenavigator-button
{
    top: 0;
    min-width: 64px;
    min-height: 64px;
    padding: 0;
    height: 100%;
    display: block;
    float: left;


}

.lsideNavigator
{
    position: fixed;
    background-color: rgb(255, 255, 255);

    z-index: 254;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);

    list-style-type:none
}

.topNavList
{
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    /* z-index: 254; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    display: flex;
    /* list-style-type:none; */
    padding: 0 16px;
}

.topNavList ul
{
    display: flex;
    font-size: 20px;

}

.topNavList li
{
    font-size: 1.6rem;
    padding-bottom: 2px;
    list-style-type: none;
    cursor: pointer;
    line-height: 2.4rem;
    display: list-item;
    /* text-align: -webkit-match-parent; */
}

.topNavList a
{
    margin: 4px;
    /* cursor: pointer; */
    font-size: 1.6rem;
    /* text-transform: uppercase; */
    line-height: 3.2rem;
}

#lsideNavigator
{
    list-style-type: none;
    cursor: pointer;
    display: list-item;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    float: left;
    position: fixed;
    margin-top: 64px;
    width: 250px;
}

.main-body, .center-body
{
    background-color: rgb(255, 255, 255);

    /* text-align:center; */
    margin:0 auto;
    width: 1080px;
    /* float: left; */
    /* align-content: center; */
    padding-top: 64px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

.essay
{
    padding: 40px;
    margin: 40px;
    color: #000000;
}


/* todo - flexible */
.footer
{
    display: block;
    line-height: 500px;
    background-color: rgba(204, 204, 204, 0.795);
}


.colors
{

    color: rgb(255, 245, 233);

    color: rgb(175, 223, 124);
    color: rgb(203, 223, 147);
    color: rgb(241, 244, 175);
    
    color: rgb(204, 204, 204);

    color: rgb(36, 32, 33);
    color: rgb(80, 59, 66);
    
    color: rgb(51, 48, 41);
    color: rgb(105, 97, 84);

}

/* 未访问链接*/
a:link
{
    color: rgb(105, 97, 84);
}

/* 已访问链接 */
a:visited
{
    color: rgb(80, 59, 66);
}

/* 鼠标移动到链接上 */
a:hover
{
    color: rgb(241, 244, 175);
}

/* 鼠标点击时 */
a:active
{
    color:#0000FF;
}

